header {
    width: 100%;
    height: auto;
}

.banner_header {
    width: 100%;
    height: auto;
}

.nosotros-galeria {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-galeria {
    width: 90%;
    height: auto;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    border-radius: 8px;
}

.img_galeria {
    width: 40%;
    height: auto;
}

.contenido-galeria {
    width: 70%;
    height: auto;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

/* SECCION DE NUESTROS VALORES */
.iconIMG_nosotros {
    width: 16%;
    height: auto;
}

h1 {
    color: var(--btn-blue);
}

@media screen and (max-width: 800px) {
    h2 {
        font-size: var(--font-size-titlenosotors);
    }

    p {
        font-size: var(--font-size-contenido-nosotros);
    }

    /* SECCION DE NUESTROS VALORES */
    .iconIMG_nosotros {
        width: 13%;
        height: auto;
        margin: 0.5rem;
    }

    h1 {
        color: var(--btn-blue);
        font-size: var(--font-size-titlenosotors);
    }


}

@media screen and (max-width: 700px) {

    .content-galeria {
        width: 90%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
    }
    #img_galeriaVoltear{
        flex-direction: column-reverse;
    }
    .contenido-galeria {
        width: 100%;
    }
    .img_galeria {
        width: 100%;
        height: auto;
    }
    h2 {
        font-size: var(--font-size-titlenosotors);
    }

    p {
        font-size: var(--font-size-contenido-nosotros);
    }

    /* SECCION DE NUESTROS VALORES */
    .iconIMG_nosotros {
        width: 100%;
        height: auto;
        margin: 0.5rem;
    }
    .iconIMG_nosotros {
        width: 40%;
        height: auto;
    }
    h1 {
        color: var(--btn-blue);
        font-size: var(--font-size-titlenosotors);
    }


}