:root {
    --color-blue: #236EDE;
    --color-white: #FFFFFF;

    --font-size-h1: 3.5rem;
    --font-size-h2: 2rem;
    --font-size-p: 1rem;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

p {
    font-size: var(--font-size-p);
}

/* Contenedor del banner */
.c-banner {
    position: relative;
    width: 100%;
    height: auto;

}

.img-banner {
    width: 100%;
    position: relative;
}

.c-hero {
    width: 35rem;
    padding-inline: 4rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
}

.c-hero h1 {
    font-weight: 700;
    color: var(--color-white);
    margin-bottom: 1rem;
}


.c-hero p {
    color: var(--color-white);
}

.c-hero-btns {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.btn-hero-vacantes {
    background-color: #E0B77F;
    border-radius: 6px;
    color: var(--color-white);
    padding: 12px 16px;
    font-weight: 700;
}

.btn-hero-servicios {
    background-color: transparent;
    border-radius: 6px;
    color: var(--color-white);
    padding: 12px 16px;
    border: 2px solid #FFF;
    font-weight: 700;
}

/* Contenedor Servicios */

.c-servicios {
    width: 100%;
    padding-inline: 4rem;
    padding-block: 50px;
}

.c-servicios>h1 {
    color: var(--color-blue);
    font-weight: 600;
    margin-bottom: 24px;
}

.c-target-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.c-target-services div {
    width: 100%;
    height: 35rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.c-target-services div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 6px;
}

.c-info-target {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 120%);
    color: white;
    position: relative;
    z-index: 1;
}

.btn-servicios {
    width: 100%;
    padding-block: 10px;
    text-decoration: none;
    color: var(--color-white);
    border-radius: 6px;
    background-color: var(--color-blue);
    text-align: center;
    font-weight: 700;
}

/* Contenedor Estadisticas */
.c-stats {
    width: 100%;
    padding-inline: 4rem;
    padding-block: 50px;

    display: flex;
    border-radius: 6px;

}

.c-info-left {
    flex: 3;
    padding: 50px;
    background-color: #F6F7FA;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.c-info-left h1 {
    color: var(--color-blue);
    font-weight: 800;
}

.stast-info {
    font-size: 45px;
    font-weight: 750;
    color: #69707B;
}


.c-img-right {
    flex: 2;
    border-top-right-radius: 6px;
}

.c-img-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.c-banner-movil {
    display: none;
}

@media screen and (max-width: 1024px) {

    /* Contenedor del banner */
    .c-hero {
        width: 30rem;
    }

    .c-hero h1 {
        font-size: 2.5rem;
        margin-bottom: 0.7rem;
    }


    .c-hero-btns {
        font-size: var(--font-size-paragraph);
    }

}

@media screen and (max-width: 768px) {

    :root {
        --font-size-h1: 2.25rem;
        --font-size-h2: 1.25rem;
        --font-size-p: 0.8rem;
    }

    .stast-info {
        font-size: 20px;
    }

    .c-stats {
        padding-inline: 2rem;
        padding-block: 0px 50px;    
    }

    .c-servicios {
        padding-inline: 2rem;
    }

    .c-target-services div {
        height: 19rem;
    }

    .c-target-services {
        grid-template-columns: repeat(1, 1fr);
    }

    .c-trabajadores {
        padding: 20px 10px 0px 0px;
    }

    .c-banner {
        display: none;
    }

    .c-banner-movil {
        display: block;
        width: 100%;
    }

    .c-trabajadores {
        width: 100%;
        background-color: #E3BA82;
    }

    .c-hero-movil {
        background-color: var(--btn-blue);
        color: var(--text-white);
        padding: 24px;
    }

    .c-hero-btns {
        flex-direction: column;
        text-align: center;
    }

    .c-trabajadores img {
        width: 100%;
    }

    .c-stats {
        flex-direction: column;
    }
}