:root{
    --primary: #1A29D1;
    --secondary: orange;
    --tertiary: #69707B;

    /* BACKGROUND COLORS */
    --bg-soft-blue: #3282FA;

    /* TEXT COLOR */
    --text-white: #ffffff;
    --text-grey: #697070;
    --text-blue: #1A29D1;

    /* Colors Icons */
    --icon-grey: #69707B;

    /* font size */ /* Mucho cuidado que las medidas del rem se basan en el padre */
    --font-size-title: 1.125rem; /* 18px */
    --font-size-subtitle: 1rem; /* 16px */
    --font-size-btn: 0.938rem; /* 15px */
    --font-size-paragraph: 0.875rem; /* 14px */
    --font-size-small: 0.813rem; /* 13px */

    /* size icons */
    --icon-size: 1.5rem;

    /* Borders */
    --border-grey: #F4F4F4;

    /* BOTONES */
    --btn-blue: #0967F3;

    
}